<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="rentprop">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rentpropdb</property>
		<property name="hibernate.connection.username">rentprop</property>
		<property name="hibernate.connection.password">rentprop</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
<!-- 		<property name="hibernate.hbm2ddl.auto">validate</property> -->
		<mapping class="com.rentprop.entity.User" />
		<mapping class="com.rentprop.entity.Resident" />
		<mapping class="com.rentprop.entity.Apartment" />
		<mapping class="com.rentprop.entity.MaintenanceRequest" />
		<mapping class="com.rentprop.entity.Appointment" />
		<mapping class="com.rentprop.entity.ContactUs" />
		<mapping class="com.rentprop.entity.ApartmentPhoto" />
		<mapping class="com.rentprop.entity.Payment" />
		<mapping class="com.rentprop.entity.RentalRequest" />
		<mapping class="com.rentprop.entity.Reply" />
	</session-factory>
</hibernate-configuration>
